@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body{


  
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  background: url(./component/img/books-1655783_1280.jpg) no-repeat center center / cover ;
  /* background-color: pink; */
  
}
/* .main{
  width: 550px;
  height: 400px;
  position: relative;
  top: 70px;
}

.heading h1 {
  
  
  color:rgb(255 255 255);
background-color: rgba(107, 97, 97, 0.5);
border: 2px solid black;
border-radius: 5px;

  font-size: 30px;
 
}

.main-content{
  
  
  border: 2px solid red;
  margin-top: 10px;
  height: 200px;
 
  background-color: white;
  border-radius: 10px;
  padding: 50px 40px;
  box-shadow: 0 0 10px;

}

.main-content .main-txt  {
  margin-top: -px;
  font-size: 1.2rem;

  line-height: 1.5;
}

.main-content .person{
  font-size: 1.6rem;
  color: red;
  text-transform: uppercase;
  margin-top: 20px;
}
 */
